<div class="footer">
  <div class="col-md-6">
  <p1>This is a trainings project to improve Ruby on Rails-Skills. </p1>
  <br>
  <p1>More of my other projects: <a href = "hhtp://www.placeholder.de"> Placeholder<a></p1>

</div>
</div>
