    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav">
            <img src="https://i.imgur.com/RKlEnsf.png"  id=logo > <br>
            <li id="nav-links" >  <%= link_to "all posts", articles_path%></li><br>
            <li>  <%= link_to "new", new_article_path %></li><br>
            <li>  <%= link_to "pages", pages_home_path %></li><br>
<!--        <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li> platzhalter </li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
-->
          </ul>
        </div>
      </div>
    </div>
